# Blanket-exclude ALL files from home directory!
*

# Crude as this is, it works:
# Make exceptions for .vim and its containing files, up to 6 levels deep:
!/*vim/
!/*.vim/*
!/*vim/*/**
!/*vim/*/*/**
!/*vim/*/*/*/**
!/*vim/*/*/*/*/**
!/*vim/*/*/*/*/*/**
!/*vim/*/*/*/*/*/*/**

# Specific exceptions:
/*.vim/.netrwhist
/*.vim/.VimballRecord
*.swp
*.svn/
*.pyc
**~
.DS_Store
