[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	showremote = !sh -c 'git for-each-ref --format=\"%(upstream:short)\" $(git rev-parse --symbolic-full-name --default HEAD $1)' -
[user]
	name = Chris Chambers
	email = magma.chambers@gmail.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	pager = less -FRSX
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = magma.chambers@gmail.com
	smtpserverport = 587
