snippet f "Feature" b
Feature: ${1:Describe your feature here}

In order to ${2:achieve some goal}
As ${3:a particular role}
I want to ${4:take a certain action}

endsnippet

snippet s "Scenario" b
Scenario: ${1:Describe your scenario here}
    Given ${2:a particular condition/action/state}
    ${3:When ${4:some kind of action happens}
    }Then ${4:some result should occur}
endsnippet

