extends txt

# Titles: {{{
#----------------------------------------------------------------------
snippet title "Document Title" b
`!p snip.rv = len(t[1])*'='`
${1:Document Title}
`!p snip.rv = len(t[1])*'='`

$0
endsnippet

snippet subtitle "Document Subtitle" b
`!p snip.rv = len(t[1])*'-'`
${1:Document Subtitle}
`!p snip.rv = len(t[1])*'-'`

$0
endsnippet

#----------------------------------------------------------------------
# }}}
# Parts: {{{
#----------------------------------------------------------------------
snippet l1 "Level 1 - Heading/Part/Chapter" b
${1:Heading/Part/Chapter}
`!p snip.rv = len(t[1])*'='`

$0
endsnippet

snippet l2 "Level 2 - Section" b
${1:Section}
`!p snip.rv = len(t[1])*'-'`

$0
endsnippet

snippet l3 "Level 3 - Subsection" b
${1:Subsection}
`!p snip.rv = len(t[1])*'~'`

$0
endsnippet
#----------------------------------------------------------------------
# }}}
# Lists: {{{
#----------------------------------------------------------------------
snippet dl "Definition List" b
**${1:Defined}:**
  ${2:Definition of $1}
endsnippet

#----------------------------------------------------------------------
# }}}
# Directives: {{{
#----------------------------------------------------------------------
snippet image "Image" b
.. image:: ${1:path/to/image.png}
${2:
   :height: ${3:200}
   :width: ${4:200}
   :alt: ${5:alternate text}
}
endsnippet

#----------------------------------------------------------------------
# }}}
# Links: {{{
#----------------------------------------------------------------------
snippet link "Link - External" b
${1:Python}_

.. _$1: ${2:http://www.python.org}
endsnippet

snippet link "Link - External, embedded" b
\`${1:Python} <${2:http://www.python.org}>\`_
endsnippet

snippet link "Link - Internal" b
${1:link text}_

.. _$1:

${2:This is the location that "$1" will jump to.}
endsnippet


snippet ftnt "Footnote - auto-numbered" i
[#]_

.. [#] ${1:Contents of footnote}
endsnippet

snippet ftnt "Footnote - numbered" i
[${1:1}]_

.. [$1] ${2:Contents of footnote}
endsnippet

snippet ftnt "Footnote - auto-symbolic" i
[*]_

.. [*] ${1:Contents of footnote}
endsnippet

snippet cite "Citation" i
[${1:CIT001}]_

.. [$1] ${2:Citation (can be referred to via $1_)}
endsnippet
#----------------------------------------------------------------------
# }}}
# Substitution: {{{
#----------------------------------------------------------------------
snippet s/ "Substitution" b
|${1:substitution}|

.. |$1| ${2:dir}
endsnippet
#----------------------------------------------------------------------
# }}}
# Comment: {{{
#----------------------------------------------------------------------
snippet # "Comment" b
.. ${1:commented text, can wrap at same indent level}
endsnippet
#----------------------------------------------------------------------
# }}}
