snippet #! "Shebang" b
#!/usr/bin/env vim -S
$0
endsnippet

snippet let "Variable assignment" b
let ${1:variable_name} = ${2:expression}
endsnippet

snippet def "Define a function" b
function! ${1:function_name}(${2})
  ${3:" code}
endfunction
endsnippet

